 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body{
    font-family: 'Kaushan Script', cursive;
    background-image: url("photo/banana.jpg");
    background-size: cover;
};

